body {
  background-color: rgba(12, 0, 27, 0.855);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;

  .scroller {
    max-width: 550px;

    &[data-animated="true"] {
      overflow: hidden;
      -webkit-mask: linear-gradient(90deg,transparent, white 20%, white 80%, transparent);
      mask: linear-gradient(90deg,transparent, white 20%, white 80%, transparent);

      .tag-list {
        &.scroller__inner {
          flex-wrap: nowrap;
          width: fit-content;
          animation: scroll 20s linear infinite;
        }
      }

      @keyframes scroll {
        to{
            transform: translate(calc(-50% - 0.5rem));
        }
      }
    }

    .tag-list {
      margin: 0;
      padding-inline: 0;
      list-style: none;

      &.scroller__inner {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        li {
          padding: 1rem;
          background-color: grey;
          border-radius: 0.5rem;
          box-shadow: 0 0.5rem 1rem -0.25rem rgb(89, 84, 84);
        }
      }
    }
  }
}
